<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="width: 60%;">
        <p>&copy; {{ site.time | date: '%Y' }} All rights reserved.</p>
        <p><strong>{{ site.title | escape }}</strong></p>
        <p>{{ site.description | escape }}</p>
      </div>

      <div class="footer-col footer-col-2" style="width: 35%;">
        {%- include social.html -%}
      </div>
    </div>
  </div>
</footer>
